#showcase-section {
  background: url("assets/img/mountains.jpg") no-repeat center;
  height: 25rem;
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &--primary {
    background-color: var(--primary-low-opacity);
  }
}
#boxes-section .card {
  margin-bottom: 0.625rem;
}
.info-header {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #dddddd;
}
